<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사진이미지업로드</title>
</head>
<body>
    <form role="form" th:action th:object="${imageForm}" method="post" enctype="multipart/form-data">
        <input type="file" th:field="*{image}">
        <input type="submit" value="등록하기">
    </form>
</body>
</html>